<script>
  import modal from './components/modal.vue';
  import modal1 from './components/modal1.vue';

  export default {
    name: 'app',
    components: {
      modal,
      modal1,
    },
    data () {
      return {
        isModalVisible: false,
        isModal1Visible: false,
      };
    },
    methods: {
      showModal() {
        this.isModalVisible = true;
        },

      showModal1() {
        this.isModal1Visible = true;
        },

      closeModal() {
        this.isModalVisible = false;
        },

      closeModal1() {
        this.isModal1Visible = false;
      }
    },
  };
</script>

<template>
  <div id="app">
    <div style="text-align:center"> <!-- the big div with all the button + modals -->

      <div> <!-- small div with the first button + modal + paragraphs-->
       <button type="button" class="btn" style="border: none; padding: 15px 32px; text-align: center;  " @click="showModal"> First Name</button>
       <modal v-show="isModalVisible" @close="closeModal"/>
       <p style="margin-bottom:10px " ></p>
      </div>  

      <div> <!-- small div with the second button + modal+ paragraphs -->
       <button type="button" class="btn1" style="border: none; padding: 15px 32px; text-align: center;  " @click="showModal1"> Last Name </button>
       <modal1 v-show="isModal1Visible" @close="closeModal1"/>
       <p style="margin-bottom:10px " ></p>
      </div>

      <div> <!-- small div with the third button + modal + paragraphs-->

      </div>

      <div> <!-- small div with the fourth button + modal+ paragraphs -->

      </div>

      <div> <!-- small div with the fifth button + modal + paragraphs-->

      </div>

    </div>
  </div>
</template>